@media ( max-width: 1400px )
   
    .sidepanel
        display: none
@media ( max-width: 1200px )
    .container
        max-width: 960px
    .sidepanel
        display: none
    .about
        &__grid
            grid-template-columns: 400px 520px
            gap: 0 40px
        &__subgrid
            grid-template-columns: repeat(2, 230px)
            column-gap: 40px
    .skill
        &__wrap
            grid-template-columns: 40px 190px
            column-gap: 10px
    .benefit
        &__wrapper
            column-gap: 30px



@media ( max-width: 992px )
    .container
        max-width: 720px
    .promo
        &__btn
            width: 40%
    .about
        padding-top: 60px
        &__grid
            grid-template-columns: 300px 380px
            gap: 0 40px
        &__subtitle
            line-height: 48px
        &__descr
            margin-top: 5px
            line-height: 18px
        &__subgrid
            grid-template-columns: 360px
            column-gap: 20px
            margin-top: 20px
            row-gap: 0
    .skill
        &__wrap
            grid-template-columns: 40px 300px
            column-gap: 20px
        &__descr
            margin-top: 0
    .benefit
        &__wrapper
            grid-template-columns: 1fr
            gap: 40px
       


@media ( max-width: 768px )
    .container
        max-width: 540px
    .title
        line-height: 39px
        &_fz48
            font-size: 26px
    .promo
        &__title
            width: 300px
        &__btn
            width: 50%
            max-width: 255px
        &__subtitle
            &::before
                top: 0
    .about
        padding-top: 40px
        &__grid
            grid-template: 400px auto auto/ 1fr
            row-gap: 40px
        &__photo
            grid-row: unset 

        &__subtitle
            line-height: 48px
        &__descr
            margin-top: 5px
            line-height: 18px
        &__subgrid
            grid-template-columns: repeat(2, 260px)
            column-gap: 20px
            margin-top: -20px
            row-gap: 0
        &__title
            &::before
                top: 0
    .skill
        &__wrap
            grid-template-columns: 40px 200px
            column-gap: 20px
        &__descr
            margin-top: 0
    .benefit
        &__wrapper
            padding: 60px 0 0 0
        & .page__title
            line-height: 24px



@media ( max-width: 576px )
    .container
        max-width: 100%
        padding: 0 10px
    .promo
        &__btn
            width: 85%
            margin-top: 32px
    .hamburger
        right: 20px
    .menu
        & ul
            padding: 0
        &__panel
            width: 250px
        &__link
            & a
                padding-left: 55px
                &::before
                    left: 20px
    .about
        padding-top: 40px
        &__grid
            grid-template: 400px auto auto/ 1fr
            row-gap: 40px
        &__photo
            grid-row: unset 

        &__subtitle
            line-height: 48px
        &__descr
            margin-top: 5px
            line-height: 18px
        &__subgrid
            grid-template-columns: 1fr
            column-gap: 20px
            margin-top: -20px
            row-gap: 20px
        &__title
            &::before
                top: 0
        &__subtitle
            font-size: 24px
            line-height: 36px

    .skill
        &__wrap
            grid-template-columns: 40px 200px
            
        &__descr
            margin-top: 0
    .benefit
        & .page__title
            line-height: 24px
        & .page__subtitle
            font-size: 24px
            line-height: 36px
        & .divider
            margin-top: 15px
        &__wrapper
            padding: 40px 15px 0 15px
    

        

    