@import '../css/libs/bootstrap-reboot.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "poppins";
}

body {
  position: relative;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  background: #FFA501;
  width: 60px;
  height: 3px;
  margin: 25px auto 0 auto;
}

.promo {
  min-height: 100vh;
  background: rgba(190, 218, 239, 0.9) url(../img/BG.png) no-repeat center center/cover;
  position: relative;
  padding-top: 206px;
}
.promo__title {
  width: 60%;
  margin-top: 10px;
}
.promo__subtitle {
  position: relative;
  z-index: 2;
  padding-left: 10px;
}
.promo__subtitle::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -25%;
}
.promo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin-top: 25px;
}
.promo__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.promo__link:hover {
  background-color: #FFA501;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hamburger {
  position: absolute;
  right: 30px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hamburger__short {
  width: 30px;
  height: 3px;
  border: none;
  background-color: white;
}
.hamburger__long {
  width: 36px;
  height: 3px;
  border: none;
  background-color: white;
  margin: 6px 0px 6px 0px;
}

.title {
  color: black;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
}
.title_fz16 {
  font-size: 16px;
  line-height: 24px;
}
.title_fz48 {
  font-size: 48px;
}
.title_fz36 {
  font-size: 36px;
}
.title_fz14 {
  font-size: 14px;
  line-height: 21px;
}
.title_fz20 {
  font-size: 20px;
  line-height: 30px;
}
.title_white {
  color: white;
}

.page__title {
  position: relative;
  text-align: center;
}
.page__title::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -25%;
}
.page__title::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page__subtitle {
  text-align: center;
  margin-top: 6px;
}

.btn {
  height: 45px;
  padding: 12px 26px;
  background-color: #FFA501;
}
.btn:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sidepanel {
  position: absolute;
  top: 230px;
  left: 50px;
  z-index: 2;
  height: 25px;
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg) translateX(-140px) translateY(-170px);
          transform: rotate(-90deg) translateX(-140px) translateY(-170px);
}
.sidepanel__divider {
  width: 70px;
  height: 2px;
  background-color: white;
}
.sidepanel__text {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__open {
  left: 0px;
  visibility: visible;
  opacity: 1;
}
.menu__panel {
  position: absolute;
  top: 0;
  width: 345px;
  height: 100vh;
  background-color: #FFA501;
  z-index: 10;
}
.menu__closed {
  position: absolute;
  right: 25px;
  top: 25px;
}
.menu nav {
  margin-top: 140px;
}
.menu__list {
  list-style-type: none;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__link {
  text-decoration: none;
  position: relative;
}
.menu__link a {
  padding-left: 75px;
  color: white;
  text-decoration: none;
}
.menu__link a::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 200;
  position: absolute;
  top: 10px;
  left: 40px;
}
.menu__social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}
.menu__overlay__active {
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

.about {
  padding-top: 120px;
}
.about .divider {
  margin: 0;
}
.about__grid {
  display: grid;
  grid-template-columns: 400px 570px;
  grid-template-rows: 300px 300px;
  gap: 0 70px;
}
.about__photo {
  grid-row: 1/3;
}
.about__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__title {
  position: relative;
  z-index: 2;
  padding-left: 10px;
}
.about__title::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -25%;
}
.about__descr {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}
.about__subgrid {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  margin-top: 40px;
  row-gap: 20px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.skill__wrap {
  display: grid;
  grid-template-columns: 40px 200px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.skill__circle {
  position: relative;
  grid-row: 1/3;
  padding: 15px 0 0 15px;
}
.skill__circle::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -25%;
}
.skill__circle::before {
  top: 0;
}
.skill__descr {
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
}

.benefit {
  padding-top: 120px;
}
.benefit__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 425px);
  padding: 60px 65px 0 65px;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.benefit__column-title {
  position: relative;
  padding-left: 35px;
  margin: 0;
}
.benefit__column-title::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FFA501;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -7px;
}
.benefit__column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.benefit__column li {
  position: relative;
}
.benefit__column li::after {
  content: "";
  width: 1px;
  height: calc(100% + 8px);
  position: absolute;
  top: -8px;
  left: 0;
  background-color: black;
}
.benefit__item {
  position: relative;
}
.benefit__item::before {
  content: "";
  height: 1px;
  width: 42px;
  position: absolute;
  top: 67px;
  left: 0;
  background-color: black;
}
.benefit__item-head {
  padding: 45px 0 0 100px;
  position: relative;
}
.benefit__item-body {
  padding-left: 43px;
  margin-top: 12px;
}
.benefit__item-icon {
  position: absolute;
  top: 50px;
  left: 42px;
}
.benefit__item-icon::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -25%;
}
.benefit__item-icon img {
  position: absolute;
  top: 14px;
  left: 17px;
}
.benefit__item-location, .benefit__item-body {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.skills {
  padding-top: 120px;
}
.skills__wrapper {
  padding: 60px 10px 0 10px;
  display: grid;
  grid-template: repeat(2, 270px)/repeat(4, 270px);
  gap: 13px;
}
.skills__wrapper-item {
  border: 1px solid black;
  padding: 0 30px 0 30px;
  overflow: hidden;
}
.skills__wrapper-icon {
  height: 115px;
  position: relative;
}
.skills__wrapper-icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.skills__wrapper-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 25px;
  overflow: hidden;
}
.skills__progress {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 30px 45px;
}
.skills__progress-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills__progress-title {
  position: relative;
  padding-left: 13px;
}
.skills__progress-title::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -25%;
}
.skills__progress-title::before {
  top: -40%;
}
.skills__progress-procents {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.skills__progress-scale {
  margin-top: 20px;
  height: 14px;
  width: 100%;
  background-color: #E8E4DE;
  border-radius: 4px;
}
.skills__progress-scale__inside {
  background-color: #FFA501;
  border-radius: 4px;
  height: 14px;
}

.portfolio {
  padding-top: 120px;
}
.portfolio__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template: repeat(2, 280px)/repeat(4, 280px);
  grid-auto-rows: 280px;
  gap: 5px;
}
.portfolio__wrapper .vertical {
  grid-row: 1/3;
  grid-column: 4/5;
}
.portfolio__wrapper .horizontal {
  grid-row: 2/3;
  grid-column: 2/4;
}
.portfolio__item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio__item img {
  width: 100%;
}
.portfolio__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contact {
  padding: 120px 0 90px 0;
}
.contact__wrapper {
  padding: 0 35px 0 50px;
  display: grid;
  grid-template-columns: 400px 585px;
  gap: 0 68px;
}
.contact__photo img {
  width: 100%;
}
.contact .page__title {
  text-align: left;
  padding-left: 10px;
}
.contact .page__title::before {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.contact .page__subtitle {
  text-align: left;
}
.contact .divider {
  margin: 0;
}
.contact p, .contact__social {
  margin-top: 20px;
}
.contact__link {
  margin-right: 25px;
  text-decoration: none;
}
.contact__link img {
  width: 30px;
  height: 30px;
}
.contact__form {
  position: relative;
  margin-top: 30px;
  display: grid;
  grid-template: 45px 190px 45px/repeat(2, 280px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px 20px;
}
.contact__form label {
  position: absolute;
  font-size: 12px;
  display: block;
  background-color: #fff;
  top: -9px;
  left: 12px;
}
.contact__input {
  position: relative;
}
.contact__input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 500;
}
.contact__textarea {
  grid-column: 1/3;
  position: relative;
}
.contact__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 20px;
  font-size: 12px;
  font-weight: 500;
}
.contact__btn {
  border: none;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 1400px) {
  .sidepanel {
    display: none;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .sidepanel {
    display: none;
  }
  .about__grid {
    grid-template-columns: 400px 520px;
    gap: 0 40px;
  }
  .about__subgrid {
    grid-template-columns: repeat(2, 230px);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .skill__wrap {
    grid-template-columns: 40px 190px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .benefit__wrapper {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .skills__wrapper {
    grid-template: repeat(3, 270px)/repeat(3, 1fr);
  }
  .skills__progress {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
  }
  .portfolio__wrapper {
    grid-template: repeat(2, 235px)/repeat(4, 235px);
    grid-auto-rows: 235px;
  }
  .contact__wrapper {
    padding: 0;
    grid-template-columns: 400px 540px;
    gap: 0 20px;
  }
  .contact__form {
    grid-template: 45px 190px 45px/repeat(2, 260px);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .promo__btn {
    width: 40%;
  }
  .about {
    padding-top: 60px;
  }
  .about__grid {
    grid-template-columns: 300px 380px;
    gap: 0 40px;
  }
  .about__descr {
    margin-top: 5px;
    line-height: 18px;
  }
  .about__subgrid {
    grid-template-columns: 360px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-top: 20px;
    row-gap: 0;
  }
  .skill__wrap {
    grid-template-columns: 40px 300px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .skill__descr {
    margin-top: 0;
  }
  .benefit {
    padding-top: 60px;
  }
  .benefit__wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .skills {
    padding-top: 60px;
  }
  .skills__wrapper-item {
    padding: 0 15px 0 15px;
  }
  .portfolio {
    padding-top: 60px;
  }
  .portfolio__wrapper {
    grid-template: repeat(2, 180px)/repeat(4, 180px);
    grid-auto-rows: 180px;
  }
  .contact {
    padding-top: 60px;
  }
  .contact__wrapper {
    padding: 0;
    grid-template-columns: 720px;
    gap: 0;
  }
  .contact__photo {
    display: none;
  }
  .contact__form {
    grid-template: 45px 190px 45px/repeat(2, 350px);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .divider {
    margin-top: 15px;
  }
  .title_fz36 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
  }
  .title_fz48 {
    font-size: 26px;
    lx: 39px;
  }
  .promo .title {
    line-height: 39px;
  }
  .promo .title_fz48 {
    font-size: 26px;
  }
  .promo__title {
    width: 300px;
  }
  .promo__btn {
    width: 50%;
    max-width: 255px;
  }
  .promo__subtitle::before {
    top: 0;
  }
  .about {
    padding-top: 40px;
  }
  .about .divider {
    margin-top: 15px;
  }
  .about__grid {
    grid-template: 400px auto auto/1fr;
    row-gap: 40px;
  }
  .about__photo {
    grid-row: unset;
  }
  .about__descr {
    margin-top: 20px;
    line-height: 18px;
  }
  .about__subgrid {
    grid-template-columns: repeat(2, 260px);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-top: -20px;
    row-gap: 0;
  }
  .skill__wrap {
    grid-template-columns: 40px 200px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .skill__descr {
    margin-top: 0;
  }
  .benefit {
    padding-top: 40px;
  }
  .benefit__wrapper {
    padding: 60px 0 0 0;
  }
  .benefit .page__title {
    line-height: 24px;
  }
  .skills {
    padding-top: 40px;
  }
  .skills__wrapper {
    padding: 30px 0 0 0;
    grid-template: repeat(3, 250px)/repeat(2, 1fr);
  }
  .skills__progress {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
  }
  .portfolio {
    padding-top: 40px;
  }
  .portfolio__wrapper {
    margin-top: 40px;
    grid-template: repeat(2, 180px)/repeat(3, 180px);
    grid-auto-rows: 180px;
  }
  .portfolio__wrapper .vertical {
    grid-row: unset;
    grid-column: unset;
  }
  .portfolio__wrapper .horizontal {
    grid-row: unset;
    grid-column: unset;
  }
  .portfolio__item img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact {
    padding-top: 40px;
  }
  .contact .divider {
    margin-top: 15px;
  }
  .contact__wrapper {
    grid-template-columns: 540px;
  }
  .contact__form {
    grid-template: 45px 190px 45px/repeat(2, 265px);
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .promo__btn {
    width: 85%;
    margin-top: 32px;
  }
  .hamburger {
    right: 20px;
  }
  .menu ul {
    padding: 0;
  }
  .menu__panel {
    width: 250px;
  }
  .menu__link a {
    padding-left: 55px;
  }
  .menu__link a::before {
    left: 20px;
  }
  .about__grid {
    grid-template: 400px auto auto/1fr;
    row-gap: 40px;
  }
  .about__photo {
    grid-row: unset;
  }
  .about__descr {
    margin-top: 5px;
    line-height: 18px;
  }
  .about__subgrid {
    grid-template-columns: 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-top: -20px;
    row-gap: 20px;
  }
  .skill__wrap {
    grid-template-columns: 40px 200px;
  }
  .skill__descr {
    margin-top: 0;
  }
  .benefit .divider {
    margin-top: 15px;
  }
  .benefit__wrapper {
    padding: 40px 15px 0 15px;
  }
  .skills__wrapper {
    padding: 20px 0 0 0;
    grid-template: 270px/270px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .skills__progress {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .portfolio__wrapper {
    grid-template: 280px/280px;
    grid-auto-rows: 280px;
    gap: 0;
    row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact {
    padding-bottom: 50px;
  }
  .contact__wrapper {
    grid-template-columns: auto;
  }
  .contact__descr {
    width: 100%;
  }
  .contact__form {
    grid-template: 45px 45px 145px 45px/100%;
    gap: 20px 0;
  }
  .contact__textarea {
    grid-column: unset;
  }
  .contact__btn {
    display: block;
    margin: 0 auto;
  }
}